/* Styles added for the Make Me Digital website */

@font-face { font-family: 'Clear Sans'; src: url('fonts/clear-sans/ClearSans-Light.ttf') format('truetype'); }
@font-face { font-family: 'Code'; src: url('fonts/code/Code-Bold.ttf') format('truetype'); }
body { font-family: "Clear Sans" !important; font-size: 18px; }
.header { padding: 0px !important; height: 100vh; 

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+70,414042+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 0%, #000000 70%, #414042 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000000 0%,#000000 70%,#414042 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000000 0%,#000000 70%,#414042 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#414042',GradientType=0 ); /* IE6-9 */
    
}

.header .bottom a.started { color: #fff; }
.header .bottom a.started:hover { color: #cccccc; text-decoration: none; }

.splat { background-image: url('img/header_splat.png'); background-repeat: no-repeat; position: relative;  height: 100%; }
.logo { height: 70%; display: block; width: auto; padding-top: 10%; }
.header h1 { font-family: "Code"; letter-spacing: 10px; }
ul.buttons { margin-left: -40px; }
.buttons li { display: inline-block; list-style-type: none; }
.buttons li i { display: block; color: #fff; }
.header-btn { margin-right: 130px; padding: 10px; width: 17%; background: rgba( 0, 0, 0, .7); border: 5px solid #fff; color: #c0c0c0; text-transform: uppercase; border-radius: 5px; }

.header-btn:nth-child(1) { box-shadow: -5px 5px 10px #4c4345; }
.header-btn:nth-child(2) { box-shadow: 0px 5px 10px #4c4345; }
.header-btn:nth-child(3) { box-shadow: 5px 5px 10px #4c4345; }


.header-btn:last-child { margin-right: 0px; }
nav#test { background: #0050ff !important; height: 90px; }
.main-nav-outer { box-shadow: 0 4px 5px -3px #231f20 !important; }
.main-nav { margin: -5px 0 0 !important; }
.main-nav li { margin: 0 !important; }
.Portfolio-nav li a.current { background: #0050ff !important; }
.Portfolio-nav li a:hover { background: #0050ff !important; }
.Portfolio-box p { font-size: 16px; }
.link { background: #0050ff !important; }
.link:hover { color: #0050ff !important; background: #fff !important; }
.input-text:focus { border-color: #0050ff !important; }
.input-btn { background: #0050ff !important; }
.quote-right { border: 2px solid #0050ff !important; color: #0050ff !important; }
.c-logo-part { background: #0050ff !important; }
.copyright a { color: #fff !important; font-weight: 600; }
.team-leader:hover .team-leader-shadow { box-shadow: inset 0px 0px 0px 148px rgba(0, 80, 255, 0.8) !important; }
.main-nav li a { color: #fff; font-size: 24px; padding: 20px 0px; transition: padding .5s ease, color .5s ease; font-family: 'Code'; letter-spacing: 1.5px; } 
.main-nav li a:hover { border-top: 3px solid #003bb9; border-bottom: 3px solid #003bb9; padding: 5px 0px; color: #003bb9; }
li.small-logo img { width: 120px; }
li.small-logo a { padding: 0px; }
li.small-logo a:hover { padding: 0px; border: none !important; }
.team-leader ul li a.fa-linkedin:hover { color: #0077B5; }
#about h1, #about h2 { text-align: center; }

#about span { font-size: 1.4em; letter-spacing: 0px; font-weight: bold; font-family: 'Code'; }
.one { color: #151515; }
.two { color: #434343; }
.three { color: #6b6b6b; }
ul.sm-small li { list-style-type: none; display: inline-block; padding: 0px 5px; color: #003bb9; }
ul.sm-small li:hover { color: #000; }
#about { padding-top: 45px; }
#about p.large { font-family: 'Montserrat', sans-serif; font-size: 36px; line-height: 60px; text-align: center; margin-bottom: 40px; }
#about .col-sm-4 { text-align: center; }
#about .col-sm-4 h6 { margin-bottom: 10px; }
#about .col-sm-4 p { font-size: 20px; }
#about .row:last-child { border-top: 1px solid #ccc; margin-top: 20px; padding: 15px; }
.business-talking { padding: 100px 0 75px; }
.client-part { background-position: 50% -160%; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
.port-hover { visibility: hidden; opacity: 0; width: 100%; padding: 15px 0px; top: 207px; background: #0050ff; color: #fff; position: absolute; transition: visibility, opacity .2s linear; }
.port-hover a { color: #fff; }
.Portfolio-box:hover > .port-hover { visibility: visible; opacity: 1; }
.about-top { font-size: 18px; }
.we-create { font-size: 24px; color: #fff; font-weight: 400; margin: 0 0 20px 0; font-family: "Clear Sans"; padding: 0 0 0 15px; }
#service .row, #Portfolio .portfolioFilter { margin-top: 30px; }
.home-arrow { width: 40px; }
.top-footer { background: #231F20; background-repeat: repeat; padding: 20px 0px; color: #fff; border-bottom: 10px solid #0050ff; }
.privacy, .terms { padding: 50px 0px; }
.privacy h5, .terms h5 { font-weight: bold; font-size: 16px; }
.privacy .bold, .terms .bold { font-weight: bold; }
.terms ol li { font-weight: bold; margin-top: 10px; }
.terms ol ul li { font-weight: normal; margin-top: 0px; }
.top-footer img { display: block; margin: 0px auto; width: 60%; }
.top-footer .right p { padding-top: 25px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Code' !important; letter-spacing: 1px; }
.featured-work, .featured-box { font-size: 18px; }

.team-leader-box { height: 530px !important; }
.footer { background: #000; padding: 0px 0px 35px; }
.splat-down { background-image: url('img/header_splat_down.png'); background-repeat: no-repeat; background-size: 100% 100%; height: 200px; width: 300px; float: right; margin: -4px 10px 0px -315px; }

.services .logo { padding-top: 2%; }
#service { padding-top: 30px; }
#service p { margin-bottom: 10px; }

.service-list { margin-bottom: 15px !important; }
.services-menu { background: #231f20; width: 100%; padding: 10px 0px 20px; }
.services-menu ul { margin-top: 15px; }
.services-menu ul li { list-style-type: none; display: inline-block; }
.services-menu ul li.active { transform: scale(1.1); }
.services-menu ul li a { color: #fff; padding-bottom: 5px; }
.services-menu ul li a:hover { text-decoration: none; }
.services-menu ul li i { color: #fff; display: block; text-align: center; }
.service-single { padding: 30px 0px 50px !important; }

.serv-footer { border-top: 10px solid #0050ff; }
.serv-btn { display: block; background: #fff; border: 2px solid #231f20; color: #231f20; padding: 3px; border-radius: 5px; width: 100px; margin: 10px 0px 0px; text-align: center; transition: all .5s ease-in-out; }
.serv-btn:hover { background: #0050ff; color: #fff; border-color: #0050ff; text-decoration: none; }

#process h2, #process h3 { color: #fff; }
#process h2 { margin-bottom: 45px; }
#process h3 { font-size: 25px; margin-top: 15px; letter-spacing: 4px; }
#process i { color: #fff; }
.bold { font-weight: bold; }

.business-talking, #process { border-bottom: 10px solid #0050ff; }